<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dynominion_rmf">

  <xacro:arg name="robot_name" default="dynominion1" />
  <xacro:property name="robot_name" value="$(arg robot_name)/" />

  <xacro:include filename="$(find dynominion_rmf_description)/urdf/dynominion_rmf_description.urdf.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find dynominion_rmf_description)/urdf/dynominion_rmf.materials.xacro" />

  <!-- Import dumbot ros2_control description -->
  <xacro:include filename="$(find dynominion_rmf_gazebo)/urdf/gazebo_ros2_control.xacro" />

  <xacro:include filename="$(find dynominion_rmf_gazebo)/urdf/gazebo_sensor_plugin.xacro" />

  <xacro:dynominion_rmf_base />

  <xacro:dynominion_rmf_ros2_control
    name="ros2_diff_drive" />

</robot>
