.vscode
.codex
.gitignore
__pycache__/**
**/__pycache__/

# ROS 2 Build Artifacts
build/
install/
log/
filter_sim_logs.py
# TF Views and frames outputs
frames*
*.gv
*.pdf

# Ignore .md files in the directory
*.md

# RMF Traffic Schedule cache
.rmf_schedule_node.yaml

